<mat-toolbar class="mat-elevation-z1" color="primary">
  <span>Calculate currencies</span>
</mat-toolbar>
<mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

<mat-card class="page-card" *ngIf="!loading">

  <mat-card-content>
    <form class="example-form">

      <mat-form-field>
        <mat-label>Convert from</mat-label>
        <mat-select [(ngModel)]="selected1" name="convertFrom">
          <mat-option value="">--</mat-option>
          <mat-option *ngFor="let country of countries" [value]="country">
            {{country.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Amount in {{selected1.key}}" [(ngModel)]="amount1" name="inputAmount"
               type="tel" pattern="[0-9]*">
      </mat-form-field>

      <button mat-button (click)="swapCountries()" class="mat-elevation-z1">Swap countries</button>

      <mat-form-field>
        <mat-label>Convert to</mat-label>
        <mat-select [(ngModel)]="selected2" name="convertTo">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{country.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-label> Amount in {{selected2.key}}: {{converted()}}</mat-label>

    </form>
  </mat-card-content>

</mat-card>
